* {
  margin: 0 auto;
  background: #fff;
  color: #000;
  font-family: 'Merriweather';
  font-weight: bold;
}

.container {
  width: 100%;
}

.links {
  text-align: right;
  width: 90%;
  padding: 20px 0px;
}

.links li {
  display: inline;
  margin-left: 25px;
}

.links a{
  text-decoration: none;
  font-size: 0.8em;
}

.line {
  border-bottom: 1px solid #C9D0E9;
}

.intro, .about, .carousel {
  width: 60%;
}

h1 {
  margin-top: 100px;
}

.line-2 {
  margin-top: 40px;
  border-bottom: 5px solid #C9D0E9;
  width: 80px;
  display: inline-block;
}

.about {
  position: relative;
  height: 200px;
  margin-top: 40px;
}

.bio {
  display: inline-block;
  width: 400px;
  vertical-align: top;
  line-height: 1.7em;
}

.underline {
  text-decoration: underline;
}

.image {
  display: inline-block;
  height: 100%;
  width: 300px;
  margin-left: 50px;
  margin-top: -80px;
}

img {
  height: 100%;
}

.carousel {
  margin-top: 10px;
  text-align: center;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 5px;
}
