* {
  margin: 0 auto;
  background: #fff;
  color: #000;
  font-family: 'Merriweather';
  font-weight: bold;
}

.container {
  width: 100%;
}

.body {
  min-width: 650px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.bio, .illustration {
  display: inline-block;
}

.bio {
  width: 280px;
}

h2 {
  margin-top: 5px;
}

.line {
  background-color: #C9D0E9;
  position: relative;
  float: left;
  height: 4px;
  margin: 30px 0px;
  width: 80px;
}

p {
  display: inline-block;
  line-height: 1.7em;
  margin-bottom: 30px;
}

.links li {
  display: inline;
  margin-right: 8px;
}

.links a{
  font-size: 0.8em;
}

a:hover {
  text-shadow: -.25px -.25px 0 #C9D0E9, .25px .25px black;
}

.illustration {
  margin-left: 20px;
  width: 340px;
}

img {
  width: 100%;
}
