* {
  margin: 0 auto;
  background: #fff;
  color: #000;
  font-family: 'Merriweather';
  font-weight: bold;
}

.container {
  width: 100%;
}

.links {
  text-align: right;
  width: 90%;
  padding: 20px 0px;
}

.line {
  background-color: #C9D0E9;
  height: 1px;
}

.body, .carousel {
  width: 60%;
  min-width:450px;
}

.links li {
  display: inline;
  margin-left: 25px;
}

.links a{
  text-decoration: none;
  font-size: 0.8em;
}

.links a:hover {
  text-decoration: underline;
}

.body {
  margin-top: 80px;
  padding: 0px 20px;
  position: relative;
}

.bio, .illustrations {
  display: inline-block;
}

.bio {
  width: 55%;
  text-align: left;
}

h2 {
  margin-top: 5px;
}

.line-2 {
  position: relative;
  float: left;
  background-color: #C9D0E9;
  height: 8px;
  margin-top: 30px;
  width: 80px;
}

p {
  display: inline-block;
  margin: 30px 0px;
  line-height: 1.6em;
}

.underline {
  text-decoration: underline;
}

.illustrations {
  width: 40%;
  height: 220px;
  margin-left: 2%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

img {
  height: 100%;
  width: 100%;
}

.carousel {
  margin-top: 20px;
  text-align: center;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 5px;
}

.one {
  background-color: #C9D0E9;
}
